@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.social-card {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 20px;
  width: 330px;
  display: flex;
  flex-direction: column;

  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-card__header {
  margin-top: 8px;
}
.social-card__profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.social-card__name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.social-card__location {
  font-size: 0.8rem;
  color: hsl(75, 94%, 57%);
  margin-bottom: 25px;
  font-weight: 600;
}

.social-card__bio {
  font-size: 0.75rem;
  color: hsl(0, 0%, 80%);
  margin-bottom: 20px;
  font-weight: 400;
}

.social-card__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.social-card__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.social-card__link:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

.attribution {
  font-size: 0.7rem;
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
}

.attribution a {
  color: hsl(75, 94%, 57%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
